
#ram{
   justify-content: center;
padding-top: 50px;
background-color: white;
height: auto;
}


.text{

    text-align: center;
    margin-top: 50px;
}

.tom{
    display: flex;
    flex-wrap: wrap;


}

